<div class="d-flex justify-content-center">
  <div class="card">
    <div class="card-header">
      Cadastro de viagens
    </div>
    <div class="card-body register-form">
      <form [formGroup]="cadastroForm" (ngSubmit)="cadastrarViagem()">
        <div class="form-group">
          <label for="exampleFormControlInput1">Destino</label>
          <input type="text" class="form-control" formControlName="destino">
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Tipo</label>
          <input type="text" class="form-control" formControlName="tipo">
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Data de chegada</label>
          <input type="date" class="form-control" formControlName="dataChegada">
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Data de saída</label>
          <input type="date" class="form-control" formControlName="dataSaida">
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Valor</label>
          <input type="text" class="form-control" formControlName="valor">
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Qtde. pessoas</label>
          <input type="text" class="form-control" formControlName="qtdPessoas">
        </div>
      </form>
      <button [routerLink]="['/']" class="button btn btn-primary mr-1">Voltar</button>
      <button (click)="cadastrarViagem()" type="submit" class="btn btn-primary" [disabled]="cadastroForm.invalid">Enviar</button>
    </div>
  </div>
</div>
